body {
    font-family: "Coolvetica", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .card-glass {
        @apply rounded-xl p-6 text-center flex flex-col items-center justify-center shadow-lg backdrop-blur-md bg-white/5 border border-white/10;
    }

    .animate-fade-in {
        animation: fadeIn 0.4s ease-out forwards;
        opacity: 0;
        transform: translateY(10px);
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.bg-animated {
    background: linear-gradient(-45deg, #1d1d1d, #2c2c2c, #1d1d1d, #1d1d1d);
    background-size: 400% 400%;
    animation: bgGradient 20s ease infinite;
}

@keyframes bgGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@keyframes wordFadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .word-animate {
    display: inline-block;
    opacity: 0;
    animation: wordFadeIn 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) forwards; /* Durée augmentée, et courbe de Bézier plus douce */
  }
  

